<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zss.dao.MoneyDao">

    <update id="updateMoney">
        update money
        <set>
            supermarketmoney = supermarketmoney + #{cost},
            customermoney = customermoney - #{cost}
        </set>
    </update>

</mapper>